*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url("immagini/sfondo.png");
  background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
header{
  height: 220px;
  width: 90%;
  margin: 2% auto 0;
  background-image: url("immagini/banner.jpg");
  background-size: cover;
  border: 15px solid white;
  color: white;
  text-align: center;
}
.title{
  margin-top: calc((190px - 55px)/2);
}
h3{
  padding-bottom: 8px;
}


nav{
  color: #999999;
  background-color: #504741;

  margin: 0 auto;
  width: 90%;
  align-content: center;

}
#link3{
  background-color: rgba(0, 0, 0, .8);
}
ul a{
  display: block;
  padding: 20px 10px;
  font-size: 20px;
  text-decoration: none;
  color:#999999;
  font-size: 15px;
}
.ul-nav{
  list-style-type: none;
}

.li-nav{
  float: left;
  display: inline-block;
  border-right: 1px solid black;
}
#last-li-nav{
  border-right: none;
}

.li-nav:hover{
  background-color: rgba(0, 0, 0, .8);
}
.ul-div{
  width: 34%;
  margin: 0 auto;

}

.ul-div::after{
  content: "";
  display: table;
  clear: both;
}
main::after{
  content: "";
  display: table;
  clear: both;
}
main{
    margin: 2% auto;
    width: 90%;
}
.left{
  width: 20%;
  float: left;
}

.left-div-1{
  background-color: white;
  padding: 35px;
  margin-bottom: 5%;
}

.ul-left{
  list-style-type: none;
}
.li-left{
 padding: 15px 5px;
 color: lime;
}
.li-left:hover{
  background-color: #FFFAF0;
  border-top: 2px solid grey;
}
.left-div-2{
  background-color: white;
  padding: 35px;
  margin-bottom: 5%;
}
.left-div-3{
  background-color: white;
  padding: 35px;
  margin-bottom: 5%;
}


.main-section{
  width: 45%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}


.arcticle{
  background-color: white;
}
.arcticle-header{
  padding: 15px;
}
h2{
  padding: 5px 0;
}
h2:hover{
  color: lime;
  cursor: pointer;
}
.arcticle-p1{
  padding: 5px 0;
}
.img-container{
  background-image: url("immagini/winter.jpg");
  background-size: cover;
  height: 40vh;
}
.arcticle-p{
  padding: 15px;

}
.arcticle-footer{
  padding: 15px;
}
.af-content{
  padding-bottom: 25px;
  border-bottom: 3px solid grey;
}
.span{
  background-color: #FFFAF0;
  padding: 2px 0;
}
.right{
  width: 25%;
  float: left;
}

.right-div-1{
  background-color: white;
  padding: 35px;
  margin-bottom: 5%;
}

#search{
  padding: 5px;
  background-color: #FFFAF0;
}
#button{
  padding: 5px;
  background-color: #504741;
}
#button:hover{
  background-color: rgba(0, 0, 0, .8);
}
.right-div-2{
  background-color: white;
  padding: 35px;
}
 .right-p{
  margin-top: 15px;
  color: lime;
}


footer{
  background-color: white;
  width: 90%;
  margin: auto;
}
.footer-section-1{
  width: 100%;
}


.footer-section-1::after{
  content: "";
  display: table;
  clear: both;
}
.footer-ul{
  list-style-type: none;
}
.footer-li{
  padding: 5px 0;
}
.footer-div-1{

  width: 15%;
  height: 100%;
  float: left;
}
.footer-div-2{

  width: 15%;
  height: 100%;
  float: left;
}
.footer-div-3{

  width: 15%;
  height: 100%;
  float: left;
}
.footer-div-4{

  width: 55%;
  height: 100%;
  float: left;
}
.footer-section-2{
  height: 30%;
  width: 100%;

}
.footer-section-2::after{
  content: "";
  display: table;
  clear: both;
}
.footer-div-5{
  border-top: 3px solid grey;
  width: 50%;
  padding: 55px 5px;
  float: left;
}
.footer-div-6{
  width: 50%;
  padding: 55px 5px;
  float: left;
  border-top: 3px solid grey;
  text-align: right;
}
.footer-div-0{
  padding: 45px 10px;
}
.footer-div-4-0{
  padding: 45px 20px 45px 100px;
}
i{
  margin-right: 10px;
  font-size: 35px;
}
